.custom-list-container {
    padding-top: 20px;
}

.custom-list-row {
    justify-content: center;
}

.custom-list-col {
    margin-top: 20px;
}

.custom-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-list-table th,
.custom-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-list-table th {
    text-align: center; /* Căn giữa tiêu đề các cột */
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: black;
}

.custom-list-no-result {
    text-align: center;
    font-size: 18px;
    color: #777;
}

.custom-list-pagination-row {
    justify-content: center;
    margin-top: 20px;
}

.custom-list-pagination-col {
    display: flex;
    justify-content: center;
}

.custom-list-container .custom-list-table th:nth-child(1),
.custom-list-container .custom-list-table td:nth-child(1) {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.custom-list-container .custom-list-table th:nth-child(2),
.custom-list-container .custom-list-table td:nth-child(2) {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

.custom-list-container .custom-list-table th:nth-child(3),
.custom-list-container .custom-list-table td:nth-child(3) {
    width: 45%;
    vertical-align: middle;
}

.text-right {
    text-align: right !important;
}
