body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

.game-wrapper {
    width: 80%;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-container {
    display: flex;
    justify-content: space-between;
}

.words-container, .meanings-container {
    width: 45%;
}


.words, .meanings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.word, .meaning {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.word.correct {
    background-color: #d4edda; /* green */
    border-color: #c3e6cb;
}

.word.incorrect {
    background-color: #f8d7da; /* red */
    border-color: #f5c6cb;
}

#checkAnswers {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#checkAnswers:hover {
    background-color: #45a049;
}