.matching-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.matching-title {
    margin-top: 20px;
}

.matching-wrapper {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.matching-container {
    display: flex;
    justify-content: space-between;
}

.matching-words-container, .matching-meanings-container {
    width: 45%;
}

.matching-words, .matching-meanings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.matching-word, .matching-meaning {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.matching-correct {
    background-color: #d4edda; /* green */
    border-color: #c3e6cb;
}

.matching-incorrect {
    background-color: #f8d7da; /* red */
    border-color: #f5c6cb;
}

#matching-checkAnswers {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#matching-checkAnswers:hover {
    background-color: #45a049;
}

#matching-timer {
    font-size: 20px;
    margin-bottom: 20px;
}

.matching-float-right {
    text-align: right;
    margin-top: 20px;
}

.matching-float-right .btn-success {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
}

.matching-float-right .btn-success:hover {
    background-color: #218838;
}
