.search-form-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Điều chỉnh khoảng cách từ trên xuống */
}

.search-form-custom h2 {
    margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và ô tìm kiếm */
    font-size: 24px;
    color: #333; /* Màu chữ tùy chọn */
}

.search-form-custom .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-custom .form-control {
    width: 300px; /* Chiều rộng của ô tìm kiếm */
    margin-right: 10px; /* Khoảng cách giữa ô tìm kiếm và nút */
}

.search-form-custom .btn {
    background-color: #007bff; /* Màu nền của nút */
    color: #fff; /* Màu chữ của nút */
}

.search-form-custom .btn:hover {
    background-color: #0056b3; /* Màu nền của nút khi hover */
}
