.search-form-saved {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-form-saved h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.search-form-saved .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-saved .form-control {
    width: 300px;
    margin-right: 10px;
}

.search-form-saved .btn {
    background-color: #007bff;
    color: #fff;
}

.search-form-saved .btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .search-form-saved {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .search-form-saved h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center; /* Đặt chữ nằm giữa màn hình */
    }

    .search-form-saved .form-group {
        display: flex;
        flex-direction: column; /* Chuyển đổi bố cục theo cột */
        align-items: center;
        width: 100%; /* Đảm bảo nhóm form chiếm hết chiều rộng */
    }

    .search-form-saved .form-control {
        width: 90%; /* Đảm bảo ô tìm kiếm chiếm phần lớn chiều rộng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa ô tìm kiếm và nút */
    }

    .search-form-saved .btn {
        width: 90%; /* Đặt chiều rộng cho nút để dễ quản lý */
        background-color: #007bff;
        color: #fff;
    }

    .search-form-saved .btn:hover {
        background-color: #0056b3;
    }
}
