<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      <h1 class="text-center">Vocabulary App</h1>
      <nav>
        <a href="/">Home</a>
        <a class="btn btn-outline-light btn-success mr-2" href="{{ url_for('search') }}" role="button">Search</a>
        <a class="btn btn-outline-light btn-primary" href="{{ url_for('saved_words') }}" role="button">Saved Words</a>
      </nav>
    </header>
    <main>{% block content %}
      {% endblock %}</main>
  </body>
</html>
