{% extends "layout.html" %} 

{% block title %}List{% endblock %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="mt-5">
      <table class="table .list">
        <thead>
          <tr>
            <th scope="col">Từ</th>
            <th scope="col">Phiên Âm</th>
            <th scope="col">Mô tả</th>
          </tr>
        </thead>
        <tbody>
          {% for item in result %}
          <tr>
            <td>{{ item.tu }}</td>
            <td>{{ item.phienam }}</td>
            <td>{{ item.nghia }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if pagination %}
      <div class="row">
        <div class="col">{{ pagination.links }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
