{% extends "layout.html" %}
{% block title %}List{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      {% if result %}
      <table class="table .list">
        <thead>
          <tr>
            <th scope="col">Từ</th>
            <th scope="col">Phiên Âm</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Chọn</th>
          </tr>
        </thead>
        <tbody>
          {% for item in result %}
          <tr>
            <td>{{item.tu}}</td>
            <td>{{item.phienam}}</td>
            <td>{{item.nghia}}</td>
            <td>
              <button class="btn btn-secondary btn-select" data-tu="{{item.tu}}" data-phienam="{{item.phienam}}" data-nghia="{{item.nghia}}">Chọn</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No results found</p>
      {% endif %}
    </div>
    
    <div class="col-md-6 mt-5">
      <h2>Selected Words</h2>
      <div id="selected-words">
        {% if selected_words %}
        <ul>
          {% for word in selected_words %}
          <li>{{ word.tu }} - {{ word.phienam }} - {{ word.nghia }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No words selected yet.</p>
        {% endif %}
      </div>
      <form action="{{ url_for('save_words') }}" method="post">
        <button type="submit" class="btn btn-primary" id="save-words-btn" {% if not selected_words %}disabled{% endif %}>Save Words</button>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
