{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="login-form">
              <h4 class="card-title mb-4 mt-1 title">Login</h4>
                    <form action="/login" method="post">
                    <div class="form-group">
                        <label>Tên đăng nhập</label>
                        <input name="ten_dang_nhap" class="form-control" placeholder="Tên đăng nhập" type="text" required>
                    </div> 
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" class="form-control" placeholder="Email" type="email" required>
                    </div> 
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input name="mat_khau" class="form-control" placeholder="******" type="password" required>
                    </div> 
                    <div class="form-group">
                    </div> 
                    <div class="form-group">
                        <button type="submit" class="btn submit"> Đăng nhập  </button>
                    </div> 
                    <p class="text-center"><a href="{{url_for("register")}}" class="">Không có tài khoản ?</a></p>
                  </form>
              </div>
        </div>
        <div class="col-6"><!--image--></div>
    </div>
</div>

{% endblock %}
