{% extends "layout.html" %}

{% block title %}Matching game{% endblock %}

{% block content %}
<div class="matching-body">
    <h1 class="matching-title">Matching Game</h1>
    <div id="matching-timer">Time left: 60s</div>
    <div class="matching-wrapper">
        <div class="matching-container">
            <div class="matching-words-container">
                <div class="matching-words">
                    {% for word in words %}
                        <div class="matching-word" data-id="{{ word.word_id }}">{{ word.word }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="matching-meanings-container">
                <div class="matching-meanings">
                    {% for meaning in meanings %}
                        <div class="matching-meaning" data-meaning="{{ meaning }}">{{ meaning }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="matching-float-right">
            <button id="matching-checkAnswers">Check</button>
            <a href="{{ url_for('VocabularyPage') }}" class="btn btn-success">Back to Pages</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/matching_game.js') }}"></script>
{% endblock %}
