{% extends "layout.html" %} {% block title %} Multiple Choice Quiz {% endblock
%} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h2>Multiple Choice Quiz</h2>
        </div>
        <div class="card-body">
          <form
            id="quiz-form"
            action="{{ url_for('multiple_choice') }}"
            method="post"
          >
            <div class="form-group">
              <h4 class="card-title">Meaning of this word:</h4>
              <p class="card-text font-weight-bold" id="question-text">
                {{ question_text }}
              </p>
            </div>
            {% for choice in choices %}
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="choice_{{ loop.index }}"
                name="user_choice"
                value="{{ choice }}"
              />
              <label class="form-check-label" for="choice_{{ loop.index }}"
                >{{ choice }}</label
              >
            </div>
            {% endfor %}
            <input
              type="hidden"
              name="correct_answer"
              value="{{ correct_answer }}"
            />
            <input
              type="hidden"
              name="question_number"
              value="{{ question_number }}"
            />
            <div class="row mt-3">
              <div class="col-md-6">
                <button
                  id="submit-button"
                  type="submit"
                  class="btn btn-success btn-block"
                >
                  Submit Answer
                </button>
              </div>
              <div class="col-md-6">
                <button
                  id="next-button"
                  type="submit"
                  class="btn btn-primary btn-block"
                >
                  Next
                </button>
              </div>
            </div>
          </form>
          {% if message %}
          <div class="mt-3">
            <p
              id="message"
              class="alert {% if message == 'Correct!' %}alert-success{% else %}alert-danger{% endif %}"
              role="alert"
            >
              {{ message }}
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-warning text-white text-center">
          <h4>Countdown Timer</h4>
        </div>
        <div class="card-body">
          <div class="display-4 text-center" id="countdown"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var countdownElement = document.getElementById("countdown");
    var nextButton = document.getElementById("next-button");
    var countdownSeconds = 30;
    var submitted = false;

    var timer = setInterval(function () {
      countdownElement.textContent = countdownSeconds + "s";
      countdownSeconds--;

      if (countdownSeconds < 0) {
        clearInterval(timer);
        document
          .getElementById("submit-button")
          .setAttribute("disabled", "disabled"); // Disable nút submit khi hết thời gian
        setTimeout(function () {
          window.location.reload(); // Tải lại trang sau khi hết thời gian
        }, 1000);
      }
    }, 1000);

  });
</script>

{% endblock %}
