{% extends "layout.html" %}
{% block title %} Quiz {% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h2> Quiz </h2>
        </div>
        <div class="card-body">
          <form action="{{ url_for('quiz') }}" method="POST">
            <div class="text-center">
              <div class="title">This quiz will contain four different types of lessons.</div>
              <button type="submit" class="btn btn-primary">Start Quiz</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}