{% extends "layout.html" %}

{% block title %}Recommend Words{% endblock %}

{% block content %}
<div class="recommend-page">
    <div class="container">
        <div class="recommend-content-wrapper">
            <h2>Recommend Words to {{ page.page_name }}</h2>
            {% if suggested_words %}
            <form id="suggest-form" action="{{ url_for('save_suggestions', page_id=page.page_id) }}" method="post">
                <input type="hidden" name="page_id" value="{{ page.page_id }}">
                <div class="recommend-table">
                    <div class="recommend-row recommend-header">
                        <div class="recommend-cell">Word</div>
                        <div class="recommend-cell">Pronunciation</div>
                        <div class="recommend-cell">Means</div>
                        <div class="recommend-cell">Select</div>
                    </div>
                    {% for word in suggested_words %}
                    <div class="recommend-row">
                        <div class="recommend-cell">{{ word.word }}</div>
                        <div class="recommend-cell">{{ word.pronunciation }}</div>
                        <div class="recommend-cell">{{ word.meaning }}</div>
                        <div class="recommend-cell"><input type="checkbox" name="selected_words" value="{{ word.word_id }}"></div>
                    </div>
                    {% endfor %}
                </div>
                <div class="recommend-button-container">
                    <button type="submit" class="recommend-btn btn-primary mt-2">Save selected words</button>
                    <a href="{{ url_for('view_page',  page_id=page.page_id) }}" class="recommend-btn btn-primary mt-2">Back to Pages</a>
                </div>
            </form>
            {% else %}
            <p>No suggested words found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
