{% extends 'layout.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="md-col-4">
        <form action="/register" method="post" class="register-form">
          <p class="title">Sign up</p>
          <p class="message">Sign up now and get full access to our app.</p>
          <label>
            <span>Username</span>
            <input class="form-control" name="username" type="text" placeholder="" required="" />
          </label>
          
          
          <label>
            <span>Full Name</span>
            <input class="form-control" name="full_name" type="text" placeholder="" required="" />
          </label>

      
          <label>
            <span>Email</span>
            <input class="form-control" name="email" type="email" placeholder="email@" required="" />
          </label>

          <label>
            <span>Password</span>
            <input class="form-control" name="password1" type="password" placeholder="********" required="" />
          </label>
          <label>
            <span>Confirm password</span>
            <input class="form-control" name="password2" type="password" placeholder="********" required="" />
          </label>
          <button class="submit" type="submit">Submit</button>
          <p class="signin"> Already have an account?<a href="{{ url_for('login') }}">Log in</a></p>
        </form>
      </div>
      <div class="col-4"></div>

      <div class="col-6">
        <!-- image -->
      </div>
    </div>
  </div>
{% endblock %}
