{% extends 'layout.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-6">
          <div class="search-form">
                  <form class="form-inline justify-content-center" action="{{url_for("search")}}" method="post">
                  <h2 class="card-title color-default">Search for word</h2>
                  <!-- form-group -->
                  <div class="form-group">
                      <input name="input-search" class="form-control form-control-lg mr-sm-2" placeholder="find" type="search" required>
                      <button type="submit" class="btn my-2 my-sm-0 btn-lg btn-primary">Search</button>
                  </div>  
                </form>
            </div>
      </div>
      <div class="col-6"><!--Placeholder right--></div>
  </div>
  
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <form action="/register" method="post" class="register-form">
          <p class="title">Đăng ký</p>
          <p class="message">Đăng ký ngay bây giờ và có toàn quyền truy cập vào ứng dụng của chúng tôi.</p>
          <label>
            <span>Tên đăng nhập</span>
            <input class="form-control" name="ten_dang_nhap" type="text" placeholder="" required="" />
          </label>
          
          
          <label>
            <span>Tên người dùng</span>
            <input class="form-control" name="ten_nguoi_dung" type="text" placeholder="" required="" />
          </label>

      
          <label>
            <span>Email</span>
            <input class="form-control" name="email" type="email" placeholder="email@" required="" />
          </label>

          <label>
            <span>Mật khẩu</span>
            <input class="form-control" name="mat_khau1" type="password" placeholder="********" required="" />
          </label>
          <label>
            <span>Xác Nhận Mật Khẩu</span>
            <input class="form-control" name="mat_khau2" type="password" placeholder="********" required="" />
          </label>
          <button class="submit" type="submit">Xác nhận</button>
          <p class="signin"> Đã có tài khoản ? <a href="{{ url_for('login') }}">Đăng nhập</a></p>
        </form>
      </div>
      <div class="col-4"></div>

      <div class="col-6">
        <!-- image -->
      </div>
    </div>
  </div>
{% endblock %}
