{% extends "layout.html" %}

{% block title %}Add words to the page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="search-form-custom">
                <form class="form-inline justify-content-center" action="{{url_for("saved_words")}}" method="post">
                    <h2 class="card-title color-default">Search for word</h2>
                    <div class="form-group">
                        <input name="input-saved_words" class="form-control form-control-lg mr-sm-2" placeholder="find" type="search" required>
                        <button type="submit" class="btn my-2 my-sm-0 btn-lg btn-primary">Search</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
