{% extends "layout.html" %}
{% block title %}View Page{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
<div class="container">
  <div class="content-wrapper">
    <h2>{{ page.ten_trang }}</h2>
    {% if words %}
    <div class="table">
      <div class="row header">
        <div class="cell">Từ</div>
        <div class="cell">Phiên Âm</div>
        <div class="cell">Nghĩa</div>
      </div>
      {% for word in words %}
      <div class="row">
        <div class="cell">{{ word.tu }}</div>
        <div class="cell">{{ word.phienam }}</div>
        <div class="cell">{{ word.nghia }}</div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No words found</p>
    {% endif %}
  </div>
  <a href="{{ url_for('trang_tu_vung') }}" class="btn btn-primary">Back to Pages</a>
</div>
{% endblock %}
